---
import BlogCard from '@/components/BlogCard.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import { buttonVariants } from '@/components/ui/button'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getRecentPosts } from '@/lib/data-utils'

const blog = await getRecentPosts(SITE.featuredPostCount)
---

<Layout>
  <PageHead slot="head" title="Home" />
  <section>
    <div class="rounded-lg border">
      <div class="flex flex-col space-y-1.5 p-6">
        <h3 class="text-3xl font-bold">Pronsh/Notes</h3>
        <p class="text-sm text-zinc-300">
          Notes <span class="font-semibold">for me</span> (and maybe you)
        </p>
      </div>
      <div class="p-6 pt-0">
        <p class="mb-3 text-sm text-zinc-500">
          A personal knowledge garden where I document my learning journey and
          research insights. Built with <Link
            href="https://astro.build"
            class="font-medium hover:text-zinc-100"
            external
            underline>Astro</Link
          >, <Link
            href="https://tailwindcss.com"
            class="font-medium hover:text-zinc-100"
            external
            underline>Tailwind</Link
          >, and <Link
            href="https://ui.shadcn.com"
            class="font-medium hover:text-zinc-100"
            external
            underline>shadcn/ui</Link
          >.
        </p>
        <p class="text-sm italic">
          Thanks to <Link
            href="https://github.com/jktrn/astro-erudite"
            underline
            external>@enscribe</Link
          > for the template 💖
        </p>
      </div>
    </div>
  </section>
  <section class="flex flex-col gap-y-4">
    <h2 class="text-2xl font-medium">Latest posts</h2>
    <ul class="flex flex-col gap-y-4">
      {
        blog.map((post) => (
          <li>
            <BlogCard entry={post} />
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center">
      <Link
        href="/blog"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        See all posts <span
          class="ml-1.5 transition-transform group-hover:translate-x-1"
          >&rarr;</span
        >
      </Link>
    </div>
  </section>
</Layout>
